In [1]:
import pandas as pd

total_book = pd.read_csv('real_book.csv')

In [2]:
#중복값
total_book.duplicated(['title','author']).sum()

819

In [3]:
total_book.drop_duplicates(['title','author'], keep='last', inplace=True)

In [4]:
total_book.reset_index(drop=True, inplace=True)

In [5]:
total_book

,gerne,title,author,price,star,review
0,공포/스릴러,봉제인형 살인사건,다니엘 콜 저/유혜인 역 ...,13500.0,8.4,84
1,공포/스릴러,고백,미나토 가나에 저/김선영 역 ...,11520.0,9.2,250
2,공포/스릴러,꼭두각시 살인사건,다니엘 콜 저/유혜인 역 ...,13950.0,9.3,17
3,공포/스릴러,네 번의 노크,케이시 저 ...,12420.0,9.3,58
4,공포/스릴러,살육에 이르는 병,아비코 다케마루 저/권일영 역 ...,10800.0,8.7,21
...,...,...,...,...,...,...
5674,로맨스,키스 먼저 세트,은미수 저 ...,18000.0,7.0,5
5675,로맨스,사심폭발 로망스 2,상림(메리J) 저 ...,11700.0,7.6,4
5676,로맨스,작가에게 반성을 촉구한다 4,유안나 저 ...,10800.0,8.0,12
5677,로맨스,로열 셰프 영애님 8,리샤 저 ...,11700.0,7.6,3
5678,로맨스,로열 셰프 영애님 7,리샤 저 ...,11700.0,7.0,9

In [121]:
total_book.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5679 entries, 0 to 5678
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   gerne   5679 non-null   object
 1   title   5679 non-null   object
 2   author  5679 non-null   object
 3   price   5679 non-null   float64
 4   star    5679 non-null   float64
 5   review  5679 non-null   int64
dtypes: float64(2), int64(1), object(3)
memory usage: 266.3+ KB

In [120]:
total_book.describe()

               price         star       review
count    5679.000000  5679.000000  5679.000000
mean    13830.940306     8.744409    15.618067
std     12323.828177     1.005622    26.314577
min      2700.000000     2.000000     1.000000
25%     10710.000000     8.200000     3.000000
50%     12420.000000     8.900000     7.000000
75%     13500.000000     9.500000    18.000000
max    374400.000000    10.000000   542.000000

In [6]:
total_book.loc[total_book['star'] >= 9,'star_line'] = 1
total_book.loc[total_book['star'] < 9,'star_line'] = 0

In [7]:
total_book

,gerne,title,author,price,star,review,star_line
0,공포/스릴러,봉제인형 살인사건,다니엘 콜 저/유혜인 역 ...,13500.0,8.4,84,0.0
1,공포/스릴러,고백,미나토 가나에 저/김선영 역 ...,11520.0,9.2,250,1.0
2,공포/스릴러,꼭두각시 살인사건,다니엘 콜 저/유혜인 역 ...,13950.0,9.3,17,1.0
3,공포/스릴러,네 번의 노크,케이시 저 ...,12420.0,9.3,58,1.0
4,공포/스릴러,살육에 이르는 병,아비코 다케마루 저/권일영 역 ...,10800.0,8.7,21,0.0
...,...,...,...,...,...,...,...
5674,로맨스,키스 먼저 세트,은미수 저 ...,18000.0,7.0,5,0.0
5675,로맨스,사심폭발 로망스 2,상림(메리J) 저 ...,11700.0,7.6,4,0.0
5676,로맨스,작가에게 반성을 촉구한다 4,유안나 저 ...,10800.0,8.0,12,0.0
5677,로맨스,로열 셰프 영애님 8,리샤 저 ...,11700.0,7.6,3,0.0
5678,로맨스,로열 셰프 영애님 7,리샤 저 ...,11700.0,7.0,9,0.0

In [8]:
total_book['star_line'].value_counts()

0.0    2891
1.0    2788
Name: star_line, dtype: int64

In [83]:
total_book.to_csv('total_book.csv',index = False)

In [129]:
def gerne(gg):
    if gg == 1:
        a= total_book[(total_book['gerne']=='공포/스릴러') & (total_book['star_line']==1)]
    elif gg ==2:
        a= total_book[(total_book['gerne']=='추리/미스터리') & (total_book['star_line']==1)]
    elif gg ==3:
        a= total_book[(total_book['gerne']=='로맨스') & (total_book['star_line']==1)]
    elif gg ==4:
        a= total_book[(total_book['gerne']=='sf') & (total_book['star_line']==1)]
    elif gg == 5:
        a= total_book[(total_book['gerne']=='판타지') & (total_book['star_line']==1)]
    elif gg== 6:
        a= total_book[(total_book['gerne']=='역사') & (total_book['star_line']==1)]
    return a.head(10)

In [130]:
gerne(2)

,gerne,title,author,price,star,review,star_line
953,추리/미스터리,백광,렌죠 미키히코 저/양윤옥 역 ...,13050.0,9.4,49,1.0
955,추리/미스터리,외사랑,히가시노 게이고 저/민경욱 역 ...,16020.0,9.8,72,1.0
957,추리/미스터리,허상의 어릿광대,히가시노 게이고 저/김난주 역 ...,16920.0,9.7,38,1.0
958,추리/미스터리,백조와 박쥐,히가시노 게이고 저/양윤옥 역 ...,16200.0,9.4,44,1.0
959,추리/미스터리,트로피컬 나이트,조예은 저 ...,13500.0,9.6,84,1.0
960,추리/미스터리,용의자 X의 헌신,히가시노 게이고 저/양억관 역 ...,15120.0,9.4,30,1.0
961,추리/미스터리,소문,오기와라 히로시 저/권일영 역 ...,14850.0,9.0,122,1.0
962,추리/미스터리,루팡의 딸 3,요코제키 다이 저/권하영 역 ...,13500.0,9.3,161,1.0
968,추리/미스터리,악의,히가시노 게이고 저/양윤옥 역 ...,12600.0,9.7,39,1.0
969,추리/미스터리,조인계획,히가시노 게이고 저/양윤옥 역 ...,13950.0,9.6,4,1.0

In [112]:
gerne(1)

,gerne,title,author,price,star,review,star_line
1,공포/스릴러,고백,미나토 가나에 저/김선영 역 ...,11520.0,9.2,250,1.0
2,공포/스릴러,꼭두각시 살인사건,다니엘 콜 저/유혜인 역 ...,13950.0,9.3,17,1.0
3,공포/스릴러,네 번의 노크,케이시 저 ...,12420.0,9.3,58,1.0
5,공포/스릴러,아홉수 가위,범유진 저 ...,9000.0,10.0,3,1.0
6,공포/스릴러,빌리 서머스 세트,스티븐 킹 저/이은선 역 ...,22950.0,10.0,2,1.0
7,공포/스릴러,엔드게임 살인사건,다니엘 콜 저/유혜인 역 ...,13950.0,9.0,4,1.0
8,공포/스릴러,베러티,콜린 후버 저/민지현 역 ...,14400.0,9.8,65,1.0
12,공포/스릴러,용서받지 못한 밤,미치오 슈스케 저/김은모 역 ...,14220.0,9.2,77,1.0
13,공포/스릴러,카미노 아일랜드,존 그리샴 저/남명성 역 ...,15120.0,9.5,32,1.0
14,공포/스릴러,도로시 죽이기,고바야시 야스미 저/김은모 역 ...,12150.0,9.4,18,1.0

In [65]:
a = total_book[total_book['gerne']=='공포/스릴러']
aa= a[a['star_line']==1.0]
aa.head(10)

,gerne,title,author,price,star,review,star_line
1,공포/스릴러,고백,미나토 가나에 저/김선영 역 ...,11520.0,9.2,250,1.0
2,공포/스릴러,꼭두각시 살인사건,다니엘 콜 저/유혜인 역 ...,13950.0,9.3,17,1.0
3,공포/스릴러,네 번의 노크,케이시 저 ...,12420.0,9.3,58,1.0
5,공포/스릴러,아홉수 가위,범유진 저 ...,9000.0,10.0,3,1.0
6,공포/스릴러,빌리 서머스 세트,스티븐 킹 저/이은선 역 ...,22950.0,10.0,2,1.0
7,공포/스릴러,엔드게임 살인사건,다니엘 콜 저/유혜인 역 ...,13950.0,9.0,4,1.0
8,공포/스릴러,베러티,콜린 후버 저/민지현 역 ...,14400.0,9.8,65,1.0
12,공포/스릴러,용서받지 못한 밤,미치오 슈스케 저/김은모 역 ...,14220.0,9.2,77,1.0
13,공포/스릴러,카미노 아일랜드,존 그리샴 저/남명성 역 ...,15120.0,9.5,32,1.0
14,공포/스릴러,도로시 죽이기,고바야시 야스미 저/김은모 역 ...,12150.0,9.4,18,1.0

In [82]:
a= total_book[(total_book['gerne']=='공포/스릴러') & (total_book['star_line']==1)]
a.head(10)

,gerne,title,author,price,star,review,star_line
1,공포/스릴러,고백,미나토 가나에 저/김선영 역 ...,11520.0,9.2,250,1.0
2,공포/스릴러,꼭두각시 살인사건,다니엘 콜 저/유혜인 역 ...,13950.0,9.3,17,1.0
3,공포/스릴러,네 번의 노크,케이시 저 ...,12420.0,9.3,58,1.0
5,공포/스릴러,아홉수 가위,범유진 저 ...,9000.0,10.0,3,1.0
6,공포/스릴러,빌리 서머스 세트,스티븐 킹 저/이은선 역 ...,22950.0,10.0,2,1.0
7,공포/스릴러,엔드게임 살인사건,다니엘 콜 저/유혜인 역 ...,13950.0,9.0,4,1.0
8,공포/스릴러,베러티,콜린 후버 저/민지현 역 ...,14400.0,9.8,65,1.0
12,공포/스릴러,용서받지 못한 밤,미치오 슈스케 저/김은모 역 ...,14220.0,9.2,77,1.0
13,공포/스릴러,카미노 아일랜드,존 그리샴 저/남명성 역 ...,15120.0,9.5,32,1.0
14,공포/스릴러,도로시 죽이기,고바야시 야스미 저/김은모 역 ...,12150.0,9.4,18,1.0

In [37]:
from sklearn.model_selection import train_test_split

target = 'star_line'

train, test = train_test_split(total_book, test_size=0.2, random_state=42)
train, val = train_test_split(train, test_size=0.2, random_state=42)

train.shape, test.shape, val.shape

((3634, 7), (1136, 7), (909, 7))

In [10]:
features = total_book.drop([target, 'star', 'title','author'], axis=1).columns

X_train = train[features]
y_train = train[target]
X_val = val[features]
y_val = val[target]
X_test = test[features]
y_test = test[target]

In [11]:
features

Index(['gerne', 'price', 'review'], dtype='object')

In [194]:
X_train.shape, y_train.shape, X_val.shape, y_test.shape

((3634, 3), (3634,), (909, 3), (1136,))

In [195]:
#기준모델
from sklearn.metrics import accuracy_score

base = y_train.mode()[0]
baseline = len(y_train)*[base]
baseline_acc = accuracy_score(y_train, baseline)
print('기준모델의 정확도:', baseline_acc.round(3))

기준모델의 정확도: 0.512

In [196]:
from category_encoders import OrdinalEncoder
from sklearn.impute import SimpleImputer
from sklearn.pipeline import make_pipeline
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import RandomizedSearchCV
from scipy.stats.distributions import uniform
from sklearn.model_selection import cross_val_score
from sklearn.metrics import classification_report
import numpy as np

from sklearn.metrics import roc_curve, roc_auc_score
from sklearn.metrics import classification_report
from sklearn.metrics import plot_confusion_matrix
from sklearn.metrics import roc_curve, roc_auc_score
import matplotlib.pyplot as plt

In [197]:
rf =make_pipeline(
    OrdinalEncoder(),
    SimpleImputer(),
    RandomForestClassifier(
        n_estimators=200, random_state=42, class_weight='balanced',
        n_jobs=-1, max_depth=6, max_samples=40
    )
)

rf.fit(X_train, y_train)

print('훈련정확도', rf.score(X_train, y_train))
print('검증정확도', rf.score(X_val, y_val))

y_pred_proba = rf.predict_proba(X_val)[:,1]
print('roc_auc', roc_auc_score(y_val, y_pred_proba))

y_val_pred = rf.predict(X_val)
print(classification_report(y_val,y_val_pred))

훈련정확도 0.6227297743533297
검증정확도 0.592959295929593
roc_auc 0.6221787585085061
              precision    recall  f1-score   support

         0.0       0.58      0.65      0.61       451
         1.0       0.61      0.54      0.57       458

    accuracy                           0.59       909
   macro avg       0.59      0.59      0.59       909
weighted avg       0.59      0.59      0.59       909

In [148]:
total_book

,gerne,title,author,price,star,review,star_line
0,공포/스릴러,봉제인형 살인사건,다니엘 콜 저/유혜인 역 ...,13500.0,8.4,84,0.0
1,공포/스릴러,고백,미나토 가나에 저/김선영 역 ...,11520.0,9.2,250,1.0
2,공포/스릴러,꼭두각시 살인사건,다니엘 콜 저/유혜인 역 ...,13950.0,9.3,17,1.0
3,공포/스릴러,네 번의 노크,케이시 저 ...,12420.0,9.3,58,1.0
4,공포/스릴러,살육에 이르는 병,아비코 다케마루 저/권일영 역 ...,10800.0,8.7,21,0.0
...,...,...,...,...,...,...,...
5674,로맨스,키스 먼저 세트,은미수 저 ...,18000.0,7.0,5,0.0
5675,로맨스,사심폭발 로망스 2,상림(메리J) 저 ...,11700.0,7.6,4,0.0
5676,로맨스,작가에게 반성을 촉구한다 4,유안나 저 ...,10800.0,8.0,12,0.0
5677,로맨스,로열 셰프 영애님 8,리샤 저 ...,11700.0,7.6,3,0.0
5678,로맨스,로열 셰프 영애님 7,리샤 저 ...,11700.0,7.0,9,0.0

In [198]:
rf

Pipeline(steps=[('ordinalencoder',
                 OrdinalEncoder(cols=['gerne'],
                                mapping=[{'col': 'gerne',
                                          'data_type': dtype('O'),
                                          'mapping': 공포/스릴러     1
추리/미스터리    2
로맨스        3
sf         4
판타지        5
역사         6
NaN       -2
dtype: int64}])),
                ('simpleimputer', SimpleImputer()),
                ('randomforestclassifier',
                 RandomForestClassifier(class_weight='balanced', max_depth=6,
                                        max_samples=40, n_estimators=200,
                                        n_jobs=-1, random_state=42))])

공포/스릴러 1, 추리/미스터리 2, 로맨스 3, sf 4, 판타지 5, 역사 6 으로 매핑

In [209]:
#예측 나이스...
ac = [{'gerne':4, 'price':20000, 'review':50}]
b=rf.predict(ac)
b

array([1.])

In [210]:
#머신러닝 모델 부호화
import pickle

with open('model.pkl', 'wb') as pickle_file:
    pickle.dump(rf, pickle_file)

In [211]:
#복호화
rf1 = None
with open('model.pkl','rb') as pickle_file:
    rf1 = pickle.load(pickle_file)

ac = [{'gerne':4, 'price':20000, 'review':50}]
b=rf1.predict(ac)
b

array([1.])

In [214]:
if b == '[0.]':
    b = '만족도가 낮다'
else:
    b = '만족도가 높다'
b

'만족도가 높다'